.search_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 30vh;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10rem;
  
}

.search_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.search_button-container {
  display: flex;
  justify-content: space-evenly;
}