.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_button-container {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_text {
  font-size: 20px;
}

.item_text--done {
  text-decoration: line-through
}